// SASS Variables
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

// MAPS
// Son como arrays
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700
);

// font-weight: map-get($font-weights, bold);

$mobile: 800px;
